/* Attendance */
.side .md .event-attendance {
	position: absolute;
	right: 0;
	top: 0;
	padding-left: 27px;
	opacity: 0;
	transition: all 0.3s;
}
.side .md .event-block:hover .event-attendance {
	opacity: 1;
}

.side .md .event-attendance a {
	background: rgba(0,0,0,0.3);
	border-style: solid;
	border-width: 0 3px 0 0;
	display: block;
	width: 0;
	padding: 5px 0;
	height: 18px;
	transition: all 0.15s;
	overflow: hidden;
}
.side .md .event-attendance:hover a {
	padding: 5px;
	width: 17px;
}

.side .md .event-attendance a span {
	background: url(https://bitbucket.org/dsfa_dfs/gta-cruises/raw/master/icons-attendance.png);
	display: block;
}

.side .md .attendance-list {
	border-color: #ffba00;
}
.side .md .attendance-list:hover {
	background: #ffba00;
}
.side .md .event-attendance .attendance-list span {
	margin: 2px 0 0 1px;
	height: 15px;
	width: 14px;
}

.side .md .attendance-yes {
	border-color: #51ce44;
}
.side .md .attendance-yes:hover {
	background: #51ce44;
}
.side .md .event-attendance .attendance-yes span {
	background-position: -14px 0;
	margin: 2px 0 0 1px;
	height: 15px;
	width: 15px;
}

.side .md .attendance-no {
	border-color: #bf3636;
}
.side .md .attendance-no:hover {
	background: #bf3636;
}
.side .md .event-attendance .attendance-no span {
	background-position: -29px 0;
	margin: 2px 0 0 2px;
	height: 15px;
	width: 12px;
}